.infografico{
    display: flex;
    justify-content: center;
    }
    
.visao{
    width:50%;
}
.valor{
    /*margin-right:30px;*/
 
    padding-top: 10px;
    padding-bottom:10px;
}

.crises{
    display: flex;
    justify-content: center;
    margin-top:20px;
    margin-bottom:20px;
    
}

.sobrediferenca{
    margin-right: 30px;
    margin-left: 30px;
    font-size: 19px;
}

.definicao{
    margin-right: 30px;
    margin-left: 30px;
    font-size: 16px;
}

.sobrepilepsia{
    margin-right: 30px;
    margin-left: 30px;
    font-size: 16px;
}

.sobreconvulsao{
    margin-right: 30px;
    margin-left: 30px;
    font-size: 16px;
}

li{
    margin-right: 50px;
    margin-left: 50px;
    font-size: 16px;
}