.home-main-image{
    display: block !important;
    position: relative !important;
    width: 100% !important
}

.grafico{
    width:300px;
    height:150px;
    margin-top: 20px;
    margin-bottom:20px;
    display: flex;
    align-items: center
}

.alerta{
    width:300px;
    height:150px;
    margin-top: 20px;
    margin-bottom:20px;
    display: flex;
    align-items: center
}

.featured-slid{
    width: 50%
}
.nivo-slider{
    height: 600px;
}

.introducao{
    margin-right: 30px;
    margin-left: 30px;
    font-size: 30px;
}